<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <th:block th:replace="partials/css-links"></th:block>
</head>
<body>
<div th:replace="partials/alerts"></div>
<div th:replace="partials/navbar"/>
<div class="cosmetics">
    <div class="page-title">
        CATEGORIES
    </div>
    <div class="list-group">
        <div th:each="category: ${categories}" class="list-group-item edit-delete">
                <div th:text="${category.getName()}"/>
            <div class="options">
                <a th:href="@{'/categories/' + ${category.getId()} + '/edit'}">🖊️</a>
                <a th:href="@{'/categories/' + ${category.getId()} + '/delete'}">🗑️️</a>
            </div>
            </a>
        </div>

    </div>
</div>

<th:block th:replace="partials/script-links"></th:block>
</body>
</html>