<div class="navigation">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #579BB1;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cosmetics">Cosmetics</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link" href="/administration">Administration</a>
          </li>
            <li  class="nav-item">
            <a class="nav-link" href="/cart">Cart 🛒</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout"><b>Logout</b></a>
            </li>
  </nav>
</div>