<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <th:block th:replace="partials/css-links"></th:block>
</head>
<body>
<div th:replace="partials/alerts"></div>
<div th:replace="partials/navbar"></div>

<div class="form-container">
    <div class="page-title">
        EDIT USER
    </div>
    <form action="#" th:method="put" th:action="@{'/users/' + ${user.getId()}}" th:object="${user}">
        <div th:if="${#fields.hasErrors()}">
  <span class="validationError">
   Form errors
  </span>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" th:field="*{username}" class="form-control" th:value="${user.getUsername()}">
            <span class="validationError"
                  th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}">
            </span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" class="form-control" th:value="${user.getPassword()}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}">
            </span>
        </div>
        <div class="form-group">
            <label for="is_admin">Admin</label>
            <select class="custom-select" id="inputGroupSelect01" th:field="*{is_admin}" th:value="${user.getIs_admin()}">
                <option th:text="yes" th:value="${true}"/>
                <option th:text="no" th:value="${false}"/>
            </select>
        </div>
        <input type="submit" class="btn" value="Submit changes"></input>
    </form>
</div>
<th:block th:replace="partials/script-links"></th:block>
</body>
</html>