<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cosmetics Wholesaler</title>
    <th:block th:replace="partials/css-links"></th:block>
</head>
<body>
<div th:replace="partials/navbar"></div>
<div class="page-title">
    HOME PAGE
</div>
<div class="cosmetics">
<div th:text="'Welcome ' + ${username} + '!'"/>
<a th:if="${isAdmin}" href="/administration">
    Go to administration panel
</a>
</div>
<th:block th:replace="partials/script-links"></th:block>
</body>
</html>