<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new cosmetic</title>
    <th:block th:replace="partials/css-links"></th:block>
</head>
<body>
<div th:replace="partials/alerts"></div>
<div th:replace="partials/navbar"></div>

<div class="form-container">
    <div class="page-title">
        ADD NEW COSMETIC
    </div>
    <form method="POST" th:action="@{/cosmetics}" th:object="${cosmetic}">
        <div th:if="${#fields.hasErrors()}">
  <span class="validationError">
   Błędy formularza.
  </span>
        </div>
        <div class="form-group">
            <label for="image_url">Image URL</label>
            <input type="text" th:field="*{image_url}" class="form-control"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('image_url')}"
                  th:errors="*{image_url}">
            </span>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" class="form-control"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">
            </span>
        </div>
        <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" step="0.01" th:field="*{price}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('price')}"
              th:errors="*{price}">
        </span>
        </div>
        <div class="form-group">
        <label for="category">Category</label>
        <select class="custom-select" id="inputGroupSelect01" th:field="*{category}">
            <option value="" label="--Categories--"/>
            <option th:each="category : ${categories}" th:text="${category.getName()}" th:value="${category.getId()}"/>
        </select>
        </div>
        <button type="submit" class="btn">Add cosmetic</button>
    </form>
</div>
<th:block th:replace="partials/script-links"></th:block>
</body>
</html>