<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Cosmetic</title>
    <th:block th:replace="partials/css-links"></th:block>
</head>
<body>
<div th:replace="partials/navbar"></div>
<div class="form-container">
<div class="page-title">
    EDIT COSMETIC
</div>
<form method="PUT" th:action="@{'/cosmetics/' + ${cosmetic.getId()}}" th:object="${cosmetic}">
    <div th:if="${#fields.hasErrors()}">
  <span class="validationError">
   Form errors
  </span>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" class="form-control" th:value="${cosmetic.getName()}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">
            </span>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" step="0.01" th:field="*{price}" th:value="${cosmetic.getPrice()}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('price')}"
              th:errors="*{price}">
        </span>
    </div>
    <div class="form-group">
        <label for="category">Category (not required)</label>
        <select>

        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit changes</button>
</form>
</div>
<th:block th:replace="partials/script-links"></th:block>
</body>
</html>